<div
    class="group relative card bg-base-100 w-64 transform transition-all duration-300 hover:-translate-y-2 hover:shadow-lg opacity-85"
>
    <!-- PICTURE -->
    <figure>
        <img
            src="https://www.swissflex.com/sites/default/files/blog/2018/02/Die-5-h%C3%B6chsten-Berge-der-Schweiz.png"
            alt="car!"
        />
    </figure>

    <!-- CARD BODY -->
    <div class="card-body">
        <h2 class="card-title">{{ tour.tour_data.name }}</h2>
        <div class="overflow-x-auto">
            <table class="table table-xs">
                <tbody>
                    <!-- row 1 -->
                    <tr class="p-1">
                        <td>Datum:</td>
                        <td>12.12.24</td>
                    </tr>
                    <!-- row 2 -->
                    <tr>
                        <td>Teilnehmer:</td>
                        <td>{{tour.tour_members.ids.length}}</td>
                    </tr>
                    <!-- row 3 -->
                    <tr>
                        <td>Ziel:</td>
                        <td>Stubaier Gletscher</td>
                    </tr>
                    <!-- row 4 -->
                    <tr>
                        <td>Gepäck:</td>
                        <td>40kg</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- AVATAR GROUP -->
    <div
        class="avatar-group -space-x-4 rtl:space-x-reverse absolute pl-2"
        style="top: calc(100% - 214px)"
    >
        <!-- class="avatar-group -space-x-6 rtl:space-x-reverse absolute left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10"
        " -->

        @for(member of tour.tour_members.ids; track member; let i = $index){
        @if(i < 4) {
        <div class="avatar">
            <div class="w-6">
                <img
                    [src]="'assets/images/avatars/' + tour.tour_members.data[member].id + 'thumbnail.jpg'"
                />
            </div>
        </div>
        } } @empty {
        <div class="avatar placeholder">
            <div class="bg-neutral text-neutral-content w-6">
                <span class="text-xs">0</span>
            </div>
        </div>
        } @if (tour.tour_members.ids.length > 4) {
        <div class="avatar placeholder">
            <div class="bg-neutral text-neutral-content w-6">
                <span class="text-xs"
                    >+{{ tour.tour_members.ids.length - 4 }}</span
                >
            </div>
        </div>
        }
    </div>
    <!-- HOVER MENU -->
    <div
        class="absolute bottom-0 left-0 right-0 bg-base-200 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex justify-center items-center p-2 gap-1 rounded-full"
    >
        <button class="btn btn-primary btn-circle btn-xs" [routerLink]="['/', 'tour', tour.id]">
            <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="text-sm"
                fontIcon="edit"
            ></mat-icon>
        </button>
        <button class="btn btn-secondary btn-circle btn-xs" (click)="onDelete.emit(tour)">
            <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                class="text-sm"
                fontIcon="delete"
            ></mat-icon>
        </button>
    </div>
</div>

<!-- <div class="dropdown dropdown-end dropdown-hover absolute top-2 right-2">
    <div tabindex="0" role="button" class="btn btn-circle btn-xs">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-3 w-3"
            viewBox="0 0 20 20"
            fill="currentColor"
        >
            <path
                d="M6 10a2 2 0 11-4 0 2 2 0 014 0zm6 0a2 2 0 11-4 0 2 2 0 014 0zm6 0a2 2 0 11-4 0 2 2 0 014 0z"
            />
        </svg>
    </div>
    <ul
        tabindex="0"
        class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow"
    >
        <li><a>Item 1</a></li>
        <li><a>Item 2</a></li>
    </ul>
</div> -->
