<!--flex-col  items-center relative -->
<div class="flex flex-col justify-center items-center h-full"> 
    <div class="card bg-base-100 max-w-sm shrink-0 shadow-2xl">
        <form class="card-body">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Gruppenname</span>
                </label>
                <input
                    type="text"
                    placeholder="Die Woodys"
                    class="input input-bordered"
                    [(ngModel)]="groupName"
                    name="groupName"
                    required
                />
            </div>
            <div class="form-control mt-1">
                <button class="btn btn-primary" (click)="registerGroup()">
                    Neue Gruppe erstellen
                </button>
            </div>
        </form>
    </div>
</div>
