<app-header
    [title]="tour.tour_data.name"
    [subTitle]="'Das wird wild'"
    [breadCrumbs]="['Tour', tour.tour_data.name]"
>
</app-header>

<div class="flex gap-2 flex-wrap">
    <!-- TOUR OVERVIEW / PICTURE -->
    <div
        class="card bg-white shadow-lg transition-all duration-300"
        [ngClass]="{
            'order-first flex-grow': !isAnyCardOpen(),
            'w-full mb-2': isAnyCardOpen()
        }"
    >
        <div
            class="card-header flex justify-between items-center p-2 bg-gray-200 rounded-t-2xl"
        >
            <span class="font-bold">Übersicht</span>
            <button class="btn btn-sm btn-circle">
                <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    class="text-xlg"
                    [fontIcon]="'edit'"
                ></mat-icon>
            </button>
        </div>
        <div class="card-body p-4">
            <div class="flex items-start gap-4">
                <!-- Tabelle -->
                <table class="table table-xs text-lg">
                    <tbody>
                        <!-- START -->
                        <tr class="p-1">
                            <td>Start:</td>
                            <td>{{ tour.tour_data.start | date:'dd.MM.yyyy'}}</td>
                        </tr>
                        <!-- END -->
                        <tr class="p-1">
                            <td>Ende:</td>
                            <td>{{ tour.tour_data.end | date:'dd.MM.yyyy'}}</td>
                        </tr>
                        <!-- row 2 -->
                        <tr>
                            <td>Teilnehmer:</td>
                            <td>{{ tour.tour_members.ids.length}}</td>
                        </tr>
                        <!-- THINGS -->
                        <tr>
                            <td>Gepäck:</td>
                            <td>{{ tour.tour_things.ids.length}}</td>
                        </tr>
                        <!-- WEIGHT -->
                        <tr>
                            <td>Gewicht:</td>
                            <td>{{ tour.tour_things.totalWeight | weight }}</td>
                        </tr>
                        <!-- CARS -->
                        <tr>
                            <td>Autos:</td>
                            <td>{{ tour.tour_cars.ids.length }}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- Bild -->
                <figure class="flex-shrink-0 h-36">
                    <img
                        src="https://www.swissflex.com/sites/default/files/blog/2018/02/Die-5-h%C3%B6chsten-Berge-der-Schweiz.png"
                        alt="Berg"
                        class="h-full object-cover rounded"
                    />
                </figure>
            </div>
        </div>
    </div>

    <!-- MEMBERS / THINGS / CARS-->
    @for(card of cards; track card; let i = $index){
    <div
        class="card bg-white shadow-md transition-all duration-300"
        [ngClass]="collapsedCards[i] ? 'w-12 order-last flex-shrink-0' : 'flex-grow'"
    >
        <!-- Card Header -->
        <div
            class="card-header flex justify-between items-center p-2 bg-gray-200 rounded-t-2xl"
        >
            @if (!collapsedCards[i]) {
                <div class="gap-2">
                    <!-- TITLE -->
                     <div class="flex justify-start space-x-2">
                        <span class="font-bold">{{
                            card.title
                        }}</span>
                        <!-- ICON -->
                        @switch (i) { 
                            @case (0) {
                                <app-icon
                                    [type]="'NUMBER'"
                                    [number]="tour.tour_members.ids.length"
                                >
                                </app-icon>
                            } 
                            @case (1) {
                                <app-icon
                                    [type]="'NUMBER'"
                                    [number]="tour.tour_things.ids.length"
                                >
                                </app-icon>
                                <div class="divider divider-horizontal"></div>
                                <span>{{ tour.tour_things.totalWeight | weight }} </span>
                            }
                            @case (2) { 
                                <app-icon
                                    [type]="'NUMBER'"
                                    [number]="tour.tour_cars.ids.length"
                                >
                                </app-icon>
                            } 
                            @default { Defaultcase. } 
                        }
                    </div>

                </div>
            }
            

            <button class="btn btn-sm btn-circle" (click)="toggleCard(i)">
                <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    class="text-xlg"
                    [ngClass]="
                        collapsedCards[i] ? 'text-gray-500' : 'text-primary'
                    "
                    [fontIcon]="card.icon"
                ></mat-icon>
            </button>
        </div>
        <!-- Card Body -->
        <div class="card-body p-4">
            <div *ngIf="!collapsedCards[i]" class="card-body p-4">
                @switch (i) { 
                    @case (0) {
                        <app-tour-members
                            [tourID]="tour.id"
                            [tourAssignments]="convertJsonToTourAssignments(tour.tour_assignments)"
                            [cars]="tour.tour_cars"
                            [members]="tour.tour_members"
                            [things]="tour.tour_things"
                            (getData)="getTourData(tourID)"
                        ></app-tour-members>
                    } 
                    @case (1) {
                        <app-tour-things
                            [tourID]="tour.id"
                            [tourAssignments]="convertJsonToTourAssignments(tour.tour_assignments)"
                            [members]="tour.tour_members"
                            [things]="tour.tour_things"
                            (getData)="getTourData(tourID)"
                        ></app-tour-things>
                    }
                    @case (2) { 
                        <app-tour-cars
                            [tourID]="tour.id"
                            [tourAssignments]="convertJsonToTourAssignments(tour.tour_assignments)"
                            [members]="tour.tour_members"
                            [cars]="tour.tour_cars"
                            (getData)="getTourData(tourID)"
                        ></app-tour-cars>
                    } 
                    @default { Defaultcase. } 
                }
            </div>
            <div *ngIf="collapsedCards[i]" class="card-body flex justify-center items-center p-2">
                @switch (i) { 
                    @case (0) {
                        <div class="badge badge-primary">
                            {{tour.tour_members.ids.length}}
                        </div>
                    } 
                    @case (1) {
                        <div class="badge badge-secondary">
                            {{tour.tour_things.ids.length}}
                        </div>
                    }
                    @case (2) { 
                        <div class="badge badge-accent">
                            {{tour.tour_cars.ids.length}}
                        </div>
                    } 
                    @default { Defaultcase. } 
                }
            </div>
        </div>
    </div>
    }
</div>
