:host ::ng-deep .p-datatable-table-container {
	border-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
}

:host ::ng-deep .p-datatable-mask{
	border-radius: 1rem;
}

:host ::ng-deep .p-paginator{
	border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem; /* Abrundung für den Paginator */
    border-bottom-right-radius: 1rem;
    background-color: #f4f4f9; /* Hintergrundfarbe */
    height: 60px;
}