/* Container für das Join-Element */
.join-container {
    position: fixed; /* Fixiert das Element relativ zum Ansichtsfenster */
    bottom: 60px; /* Position am unteren Rand */
    left: 50%; /* Horizontale Mitte */
    transform: translateX(-50%); /* Zentriere das Element horizontal */
    width: 100%; /* Optional: Begrenze die Breite, wenn nötig */
    display: flex; /* Flexbox für Zentrierung */
    justify-content: center; /* Zentriert den Inhalt horizontal */
    padding: 1rem; /* Optional: Abstand zum unteren Rand */
    box-sizing: border-box;
}

.table {
    background-color: rgba(240, 248, 255, 0.6); /* AliceBlue mit 50% Transparenz */
}

/* Beispiel: Optionaler Custom-Style für Hover und Selected */
.avatar {
    position: relative;
  }
  
//   .avatar img {
//     transition: transform 0.3s ease, opacity 0.3s ease;
//   }
  
//   .avatar img:hover {
//     transform: scale(1.05); /* Hover-Effekt: leicht vergrößern */
//   }
  
  .avatar img.selected {
    border-width: 4px;
    border-color: #f63b79; /* Tailwind blue-500 */
  }