<!-- HEADER -->
<app-header
    [title]="'Teilnehmerliste'"
    [subTitle]="'Verwalte Deine Mitstreiter'"
    [breadCrumbs]="['Teilnehmer']"
>
</app-header>

<!-- DELETE MODAL -->
<dialog #deleteModal class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Teilnehmer löschen?</h3>
        <p class="py-4">
            Bitte bestätigen Sie, dass <b>{{ memberToDelete.name }}</b> gelöscht
            werden soll.
        </p>
        <div class="modal-action">
            <form method="dialog">
                <div class="flex gap-1">
                    <button
                        class="btn btn-primary"
                        (click)="deleteMember(memberToDelete.id)"
                    >
                        {{ memberToDelete.name }} ist fällig
                    </button>
                    <button class="btn btn-secondary">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
</dialog>

<!-- CONTENT -->
<div class="drawer drawer-end">
    <input #drawer id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
        <label class="input input-bordered rounded-2xl flex items-center mb-2">
            <input
                #searchBox
                type="text"
                class="grow"
                placeholder="Teilnehmer suchen"
                (input)="onSearchChange($event)"
            />
            @if(loadingData){
            <span class="loading loading-ring loading-sm"></span>
            } @else {
            <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="search"
            ></mat-icon>
            }
        </label>

        <p-table
            [value]="members"
            [loading]="loadingData"
            [paginator]="true"
            [first]="pagination.offset"
            [totalRecords]="pagination.total!"
            [showCurrentPageReport]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            [@tableRowAnimation]
            currentPageReportTemplate="Zeige {first} bis {last} von {totalRecords} Elementen"
        >
            <ng-template #header>
                <tr>
                    <th style="height: 70px; background-color: #f4f4f9">
                        Name
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-member>
                <tr>
                    <td
                        style="height: 60px; background-color: #ffffff"
                        class="flex items-center justify-between"
                    >
                        <div class="flex items-center gap-3">
                            <div class="avatar">
                                <div class="mask mask-squircle w-8">
                                    @if(member.avatar && member.avatar !== "0"){
                                    <img
                                        [src]="
                                            'assets/images/avatars/' +
                                            member.avatar +
                                            'thumbnail.jpg'
                                        "
                                    />
                                    } @else {
                                    <img
                                        [src]="'assets/images/avatars/default.jpg'"
                                    />
                                    }
                                </div>
                            </div>
                            {{ member.name }}
                        </div>
                        <div class="flex gap-1">
                            <button
                                class="btn btn-circle btn-xs btn-primary"
                                (click)="onEditMember(member)"
                            >
                                <mat-icon
                                    aria-hidden="false"
                                    aria-label="Example home icon"
                                    class="text-sm"
                                    fontIcon="edit"
                                ></mat-icon>
                            </button>
                            <button
                                class="btn btn-secondary btn-circle btn-xs"
                                (click)="showDeleteModal(member)"
                            >
                                <mat-icon
                                    aria-hidden="false"
                                    aria-label="Example home icon"
                                    class="text-sm"
                                    fontIcon="delete"
                                ></mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    @if(searchBox.value){
                    <td colspan="7">Keine Ergebnisse</td>

                    } @else {
                    <td colspan="7">Bisher keine Teilnehmer erstellt</td>
                    }
                </tr>
            </ng-template>
            <ng-template #loadingbody>
                <tr>
                    <td colspan="7">Lädt</td>
                </tr>
            </ng-template>
        </p-table>

        <!-- BUTTONS -->
        <div
            class="fixed bottom-16 flex justify-center gap-1 left-1/2 transform -translate-x-1/2"
        >
            <!-- ADIT MEMBER -->
            <label
                for="my-drawer-4"
                class="button btn btn-circle btn-primary"
                (click)="onNewMember()"
            >
                <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="add"
                ></mat-icon>
            </label>
        </div>
    </div>
    <div class="drawer-side">
        <label
            for="my-drawer-4"
            aria-label="close sidebar"
            class="drawer-overlay"
        ></label>

        <ul class="menu bg-white text-base-content min-h-full w-80 p-4 my-16">
            <div class="text-2xl font-bold">
                {{ editMode ? "Teilnehmer ändern" : "Teilnehmer hinzufügen" }}
            </div>
            <div class="text-sm mb-2">Habe die Ehre</div>

            <form [formGroup]="memberForm" class="w-100">
                <!-- NAME -->
                <label class="form-control w-full max-w-xs">
                    <div class="label">
                        <span class="font-bold text-base">Name</span>
                    </div>
                    <label class="input input-bordered flex items-center gap-2">
                        <input
                            formControlName="name"
                            type="text"
                            class="grow"
                            placeholder="Search"
                        />
                        <div class="avatar">
                            <div class="mask mask-squircle w-8">
                                <img
                                    [src]="
                                        'assets/images/avatars/' +
                                        selectedAvatar.fileName
                                    "
                                />
                            </div>
                        </div>
                    </label>
                </label>
                <!-- AVATAR SELECTION -->
                <label class="form-control w-full max-w-xs mb-2">
                    <div class="label">
                        <span class="font-bold text-base">Avatar</span>
                    </div>
                    <div class="card bg-base-100 rounded-lg border-2">
                        <div class="card-body">
                            <div
                                class="flex justify-between items-center"
                            ></div>

                            <div class="grid grid-cols-4 gap-3">
                                @for (avatar of avatars; track avatar) {
                                <div
                                    class="avatar"
                                    (click)="selectAvatar(avatar)"
                                >
                                    <div class="mask mask-squircle w-24">
                                        <img
                                            [src]="
                                                'assets/images/avatars/' +
                                                avatar.fileName
                                            "
                                            [class.hover:opacity-80]="
                                                !isSelected(avatar)
                                            "
                                            [class.border-4]="
                                                selectedAvatar === avatar
                                            "
                                            [class.ring-primary]="
                                                selectedAvatar === avatar
                                            "
                                            class="transition-all cursor-pointer"
                                        />
                                    </div>
                                </div>
                                }
                            </div>
                        </div>
                    </div>
                </label>
            </form>
            <!-- BUTTON -->
            <div class="grid grid-cols-2 gap-2">
                @if ( !editMode ){
                <div class="tooltip w-full" [attr.data-tip]="getErrorSummary()">
                    <button
                        class="btn btn-primary w-full"
                        [disabled]="memberForm.invalid"
                        (click)="addMember()"
                    >
                        Erstellen
                    </button>
                </div>
                } @else {
                <button class="btn btn-primary" (click)="editMember()">
                    Ändern
                </button>
                }

                <button
                    class="btn btn-secondary btn-outline"
                    (click)="drawer.checked = false"
                >
                    Abbrechen
                </button>
            </div>
        </ul>
    </div>
</div>
