<!-- HEADER -->
<app-header
    [title]="'Gepäckliste'"
    [subTitle]="'Ich packe meinen Koffer und nehme mit...'"
    [breadCrumbs]="['Gepäck']"
>
</app-header>

<!-- DELETE MODAL -->
<dialog #deleteModal class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Gepäck löschen?</h3>
        <p class="py-4">
            Bitte bestätigen Sie, dass <b>{{ thingToDelete.name }}</b> gelöscht
            werden soll.
        </p>
        <div class="modal-action">
            <form method="dialog">
                <div class="flex gap-1">
                    <button
                        class="btn btn-primary"
                        (click)="deleteThing(thingToDelete.id)"
                    >
                        {{ thingToDelete.name }}, muss weg
                    </button>
                    <button class="btn btn-secondary">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
</dialog>

<!-- CONTENT -->
<div class="drawer drawer-end">
    <input #drawer id="my-drawer-4" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content">
        <label class="input input-bordered rounded-2xl flex items-center mb-2">
            <input
                #searchBox
                type="text"
                class="grow"
                placeholder="Gepäck suchen"
                (input)="onSearchChange($event)"
            />
            @if(loadingData){
            <span class="loading loading-ring loading-sm"></span>
            } @else {
            <mat-icon
                aria-hidden="false"
                aria-label="Example home icon"
                fontIcon="search"
            ></mat-icon>
            }
        </label>

        <p-table
            [value]="things"
            [loading]="loadingData"
            [paginator]="true"
            [first]="pagination.offset"
            [totalRecords]="pagination.total!"
            [showCurrentPageReport]="true"
            [rows]="5"
            [rowsPerPageOptions]="[5, 10, 20]"
            [@tableRowAnimation]
            currentPageReportTemplate="Zeige {first} bis {last} von {totalRecords} Elementen"
        >
            <ng-template #header>
                <tr>
                    <th style="height: 70px; background-color: #f4f4f9">

                    </th>
                    <th style="height: 70px; background-color: #f4f4f9">
                        Name
                    </th>
                    <th style="height: 70px; background-color: #f4f4f9">
                        Kategorie
                    </th>
                    <th style="height: 70px; background-color: #f4f4f9">
                        Einheit
                    </th>
                    <th style="height: 70px; background-color: #f4f4f9">
                        Gewicht
                    </th>
                    <th style="height: 70px; background-color: #f4f4f9"></th>
                </tr>
            </ng-template>
            <ng-template #body let-thing>
                <tr>
                    <td
                        style="
                            height: 60px;
                            width: 40px;
                            background-color: #ffffff;
                        "
                    >
                        <div class="avatar">
                            <div
                                class="mask mask-squircle w-8 h-8 bg-base-200 flex items-center justify-center"
                            >
                                <mat-icon
                                    aria-hidden="false"
                                    aria-label="Backpack icon"
                                    class="text-primary text-xl"
                                    fontIcon="backpack"
                                >
                                </mat-icon>
                            </div>
                        </div>
                    </td>
                    <!-- NAME -->
                    <td style="height: 60px; background-color: #ffffff">
                        <div class="flex items-center gap-3">
                            {{ thing.name }}
                        </div>
                    </td>
                    <!-- CATEGORY -->
                    <td style="height: 60px; background-color: #ffffff">
                        <div class="flex items-center gap-3">
                            {{
                                serverCategories[thing.category]
                                    ? serverCategories[thing.category].value
                                    : ""
                            }}
                        </div>
                    </td>
                    <!-- UNIT -->
                    <td style="height: 60px; background-color: #ffffff">
                        <div class="flex items-center gap-3">
                            {{
                                serverUnits[thing.unit_id]
                                    ? serverUnits[thing.unit_id].value
                                    : ""
                            }}
                        </div>
                    </td>
                    <!-- WEIGHT -->
                    <td style="height: 60px; background-color: #ffffff">
                        <div class="flex items-center gap-3">
                            {{ thing.weight }}
                        </div>
                    </td>
                    <!-- ACTIONS -->
                    <td>
                        <div class="flex justify-end gap-1">
                            <button
                                class="btn btn-circle btn-xs btn-primary"
                                (click)="onEditThing(thing)"
                            >
                                <mat-icon
                                    aria-hidden="false"
                                    aria-label="Example home icon"
                                    class="text-sm"
                                    fontIcon="edit"
                                ></mat-icon>
                            </button>
                            <button
                                class="btn btn-secondary btn-circle btn-xs"
                                (click)="showDeleteModal(thing)"
                            >
                                <mat-icon
                                    aria-hidden="false"
                                    aria-label="Example home icon"
                                    class="text-sm"
                                    fontIcon="delete"
                                ></mat-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    @if(searchBox.value && !loadingData){
                    <td colspan="7">Keine Ergebnisse</td>

                    } @else {
                    <td colspan="7">Bisher kein Gepäck erstellt</td>
                    }
                </tr>
            </ng-template>
            <ng-template #loadingbody>
                <tr>
                    <td colspan="7">Lädt</td>
                </tr>
            </ng-template>
        </p-table>

        <!-- BUTTONS -->
        <div
            class="fixed bottom-16 flex justify-center gap-1 left-1/2 transform -translate-x-1/2"
        >
            <!-- ADIT MEMBER -->
            <label
                for="my-drawer-4"
                class="button btn btn-circle btn-primary"
                (click)="onNewThing()"
            >
                <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="add"
                ></mat-icon>
            </label>
        </div>
    </div>
    <div class="drawer-side">
        <label
            for="my-drawer-4"
            aria-label="close sidebar"
            class="drawer-overlay"
        ></label>

        <ul
            class="menu bg-white text-base-content min-h-full w-80 p-4 my-16 gap-3"
        >
            <div class="text-2xl font-bold">
                {{ editMode ? "Gepäck ändern" : "Gepäck hinzufügen" }}
            </div>
            <div class="text-sm mb-2">
                Ein jeder hat sein Päckchen zu tragen
            </div>
            <form
                [formGroup]="thingForm"
                class="w-full max-w-lg mx-auto flex flex-col gap-2"
            >
                <!-- NAME -->
                <div class="form-control">
                    <label class="label"
                        ><span class="font-bold text-sm">Name</span></label
                    >
                    <label
                        class="input input-bordered flex items-center h-9 py-1"
                    >
                        <input
                            formControlName="name"
                            type="text"
                            class="grow text-sm h-full"
                        />
                    </label>
                </div>

                <!-- CATEGORY -->
                <div class="form-control">
                    <label class="label">
                        <div class="flex items-center gap-x-1">
                            <span class="font-bold text-sm">Kategorie</span>
                            <div
                                class="tooltip tooltip-right"
                                data-tip="Marken bearbeiten"
                            >
                                <button
                                    class="btn btn-xs btn-ghost btn-circle"
                                    [routerLink]="['/', 'settings']"
                                >
                                    <mat-icon
                                        class="text-base"
                                        fontIcon="settings"
                                    ></mat-icon>
                                </button>
                            </div>
                        </div>
                    </label>
                    <div class="input input-bordered flex items-center h-9 p-1">
                        <p-select
                            [options]="categories"
                            [editable]="true"
                            (onChange)="onSearchCategoriesChange($event)"
                            class="w-full text-sm"
                            formControlName="category"
                            optionLabel="value"
                            optionValue="id"
                        >
                            <ng-template let-category #item>
                                <div class="flex items-left gap-2 w-full">
                                    <div class="truncate text-sm">
                                        {{ category.value }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-select>
                    </div>
                </div>

                <!-- UNIT -->
                <div class="form-control">
                    <label class="label">
                        <div class="flex items-center gap-x-1">
                            <span class="font-bold text-sm">Einheit</span>
                            <div
                                class="tooltip tooltip-right"
                                data-tip="Einheiten bearbeiten"
                            >
                                <button
                                    class="btn btn-xs btn-ghost btn-circle"
                                    [routerLink]="['/', 'settings']"
                                >
                                    <mat-icon
                                        class="text-base"
                                        fontIcon="settings"
                                    ></mat-icon>
                                </button>
                            </div>
                        </div>
                    </label>
                    <div class="input input-bordered flex items-center h-9 p-1">
                        <p-select
                            [options]="units"
                            [editable]="true"
                            (onChange)="onSearchUnitsChange($event)"
                            class="w-full text-sm"
                            formControlName="unit"
                            optionLabel="value"
                            optionValue="id"
                        >
                            <ng-template let-unit #item>
                                <div class="flex items-left gap-2 w-full">
                                    <div class="truncate text-sm">
                                        {{ unit.value }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-select>
                    </div>
                </div>

                <!-- WEIGHT -->
                <div class="form-control">
                    <label class="label"
                        ><span class="font-bold text-sm">Gewicht</span></label
                    >
                    <label
                        class="input input-bordered flex items-center h-9 py-1"
                    >
                        <input
                            formControlName="weight"
                            type="number"
                            class="grow text-sm h-full"
                        />
                    </label>
                </div>
            </form>

            <!-- BUTTON -->
            <div class="grid grid-cols-2 gap-2">
                @if ( !editMode ){
                <button class="btn btn-primary" (click)="addThing()">
                    Erstellen
                </button>
                } @else {
                <button class="btn btn-primary" (click)="editThing()">
                    Ändern
                </button>
                }

                <button
                    class="btn btn-secondary btn-outline"
                    (click)="drawer.checked = false"
                >
                    Abbrechen
                </button>
            </div>
        </ul>
    </div>
</div>
