<!-- DELETE MODAL -->
<dialog #deleteModal class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Teilnehmer entfernen?</h3>
        <p class="py-4">
            Bitte bestätigen Sie, dass <b>{{ thingToDelete.name }}</b> eine
            Couch Potatoe ist.
        </p>
        <div class="modal-action">
            <form method="dialog">
                <div class="flex gap-1">
                    <button
                        class="btn btn-primary"
                        (click)="onDeleteTourThing(thingToDelete)"
                    >
                        {{ thingToDelete.name }} braucht man eh nicht
                    </button>
                    <button class="btn btn-secondary">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
</dialog>

@if (!loadingData) {
<!-- SEARCH BOX -->
<div class="flex items-center justify-center gap-2 w-full mb-4">
    <div class="flex-grow">
        <p-autocomplete
            #thingSearch
            [suggestions]="things"
            [forceSelection]="true"
            [placeholder]="'Gepäck suchen'"
            (input)="onSearchChange($event)"
            optionLabel="name"
            class="w-full"
        >
            <ng-template let-thing #item>
                <div class="flex justify-start gap-2">
                    <span class="text-sm">{{ thing.name }}</span>
                </div>
            </ng-template>
        </p-autocomplete>
    </div>

    <!-- ADD THING -->
    <button
        class="btn btn-sm btn-circle btn-primary"
        (click)="onAddThing(thingSearch.value, thingSearch)"
        [disabled]="!thingSearch.value"
        title="Mitglied hinzufügen"
    >
        <mat-icon
            aria-hidden="false"
            aria-label="Add member"
            fontIcon="add"
        ></mat-icon>
    </button>
</div>

@for (thing of tourThings; track thing) {
<progress
    class="progress progress-success absolute top-12 left-0 w-full rounded-none"
    value="{{ tourThingAssignmentsCount }}"
    max="{{ tourThings.length }}"
></progress>
<details
    pDraggable
    (onDragStart)="onDragElement(thing)"
    (onDragEnd)="onDragEnd()"
    class="collapse bg-base-200"
>
    <summary class="collapse-title text-xl font-medium">
        <div class="flex items-center justify-between w-full">
            <!-- Linker Bereich: Drag-Icon + Inhalte -->
            <div class="flex items-center gap-2">
                <!-- Drag Handle -->
                <mat-icon
                    class="cursor-move text-gray-400 text-lg"
                    fontIcon="drag_indicator"
                    aria-label="drag handle"
                ></mat-icon>

                <!-- Inhalt -->
                <div class="flex items-center gap-2">
                    <app-icon
                        [type]="'THING'"
                        [name]="tourThingsData[thing.thing_id].name"
                    ></app-icon>

                    <span class="text-sm">
                        {{ tourThingsData[thing.thing_id].name }}
                    </span>

                    <div class="divider divider-horizontal m-0"></div>

                    <span class="text-sm">
                        {{ tourThingsData[thing.thing_id].weight | weight }}
                    </span>

                    <div class="divider divider-horizontal m-0"></div>

                    <app-icon
                        [type]="'MEMBER'"
                        [avatarNumber]="getBearerAvatar(thing.assignedMemberId)"
                    ></app-icon>
                </div>
            </div>

            <!-- Rechter Bereich: Delete Button -->
            <div
                class="flex items-center"
                [ngClass]="thing.assignedMemberId ? 'tooltip tooltip-left' : ''"
                data-tip="Besitzt Zuweisungen"
            >
                <button
                    class="btn btn-secondary btn-circle btn-xs"
                    (click)="onShowDeleteModal(tourThingsData[thing.thing_id])"
                    [disabled]="thing.assignedMemberId"
                >
                    <mat-icon
                        aria-label="Delete member"
                        fontIcon="delete"
                        class="text-sm"
                    ></mat-icon>
                </button>
            </div>
        </div>
    </summary>

    <div class="collapse-content bg-white">
        <table class="table table-xs text-lg">
            <tbody>
                <tr>
                    <td>Kategorie:</td>
                    <td>
                        {{
                            tourThingsCategories[
                                tourThingsData[thing.thing_id].category
                            ].value
                        }}
                    </td>
                </tr>
                <tr>
                    <td>Gewicht:</td>
                    <td>
                        {{ tourThingsData[thing.thing_id].weight | weight }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</details>
} @empty { Bisher wurde kein Gepäck hinzugefügt } } @else {
<span class="loading loading-spinner text-secondary"></span>
}
