<!-- DELETE MODAL -->
<dialog #deleteModal class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Teilnehmer entfernen?</h3>
        <p class="py-4">
            Bitte bestätigen Sie, dass <b>{{ thingToDelete.name }}</b> eine
            Couch Potatoe ist.
        </p>
        <div class="modal-action">
            <form method="dialog">
                <div class="flex gap-1">
                    <button
                        class="btn btn-primary"
                        (click)="onDeleteTourThing(thingToDelete)"
                    >
                        {{ thingToDelete.name }} braucht man eh nicht
                    </button>
                    <button class="btn btn-secondary">Abbrechen</button>
                </div>
            </form>
        </div>
    </div>
</dialog>

@if (!loadingData) {
<!-- SEARCH BOX -->
<div class="flex items-center justify-center gap-2 w-full mb-4">
    <div class="flex-grow">
        <p-autocomplete
            #thingSearch
            [suggestions]="things"
            [forceSelection]="true"
            [placeholder]="'Gepäck suchen'"
            (input)="onSearchChange($event)"
            optionLabel="name"
            class="w-full"
        >
            <ng-template let-thing #item>
                <div class="flex justify-start gap-2">
                    <span class="text-sm">{{ thing.name }}</span>
                </div>
            </ng-template>
        </p-autocomplete>
    </div>

    <!-- ADD THING -->
    <button
        class="btn btn-sm btn-circle btn-primary"
        (click)="onAddThing(thingSearch.value, thingSearch)"
        [disabled]="!thingSearch.value"
        title="Mitglied hinzufügen"
    >
        <mat-icon
            aria-hidden="false"
            aria-label="Add member"
            fontIcon="add"
        ></mat-icon>
    </button>
</div>

@for (thing of tourThings; track thing) {
<!-- <progress
    class="progress progress-success absolute top-12 left-0 w-full rounded-none"
    value="{{ tourAssignments.things.size }}"
    max="{{ things.ids.length }}"
></progress> -->
<details
    pDraggable
    (onDragStart)="onDragElement(thing)"
    class="collapse bg-base-200"
>
    <summary class="collapse-title text-xl font-medium">
        <div class="flex justify-between">
            <!-- ICON -->
            <div class="flex justify-start space-x-2">
                <app-icon [type]="'THING'" [name]="tourThingsData[thing.thing_id].name">
                </app-icon>
                <span class="text-sm">{{ tourThingsData[thing.thing_id].name }}</span>
                <div class="divider divider-horizontal"></div>
                <span class="text-sm">{{
                    tourThingsData[thing.thing_id].weight | weight
                }}</span>
                <div class="divider divider-horizontal"></div>
                <app-icon
                    [type]="'MEMBER'"
                    [avatarNumber]="getBearerAvatar(thing.thing_id)"
                >
                </app-icon>
            </div>
            <!-- DELETE BUTTON -->
            <div class="flex justify-end space-x-1">
                <div class="flex gap-1 relative z-10">
                    <!-- <div
                        class="flex gap-1 relative z-10"
                        [ngClass]="
                            hasAssignments(thing) ? 'tooltip tooltip-left' : ''
                        "
                        data-tip="Besitzt Zuweisungen"
                    > -->
                        <button
                            class="btn btn-secondary btn-circle btn-xs"
                            (click)="onShowDeleteModal(tourThingsData[thing.thing_id])"
                            [disabled]="hasAssignments(thing)"
                        >
                            <mat-icon
                                aria-hidden="false"
                                aria-label="Delete member"
                                class="text-sm"
                                fontIcon="delete"
                            ></mat-icon>
                        </button>
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </summary>

    <div class="collapse-content bg-white">
        <table class="table table-xs text-lg">
            <tbody>
                <tr>
                    <td>Kategorie:</td>
                    <!-- <td>{{ tourThingsCategories[tourThingsData[thing.id].category].value }}</td> -->
                </tr>
                <tr>
                    <td>Gewicht:</td>
                    <!-- <td>{{ tourThingsData[thing.id].weight | weight }}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</details>
} @empty { Bisher wurde kein Gepäck hinzugefügt } } @else {
<span class="loading loading-spinner text-secondary"></span>
}
