@if(isVisible) {
<div
    [@pulseAnimation]
    role="alert"
    class="alert fixed top-20 z-50 shadow-lg right-4 max-w-[90%] sm:right-4 sm:max-w-md sm:ml-0 sm:left-auto sm:translate-x-0"
    [ngClass]="{
        'alert-success': type === 'success',
        'alert-warning': type === 'warning',
        'alert-error': type === 'error'
    }"
>
    <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        [fontIcon]="icon"
    ></mat-icon>
    <span>{{ message }}</span>
    <button (click)="toggleVisibility()">
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            [fontIcon]="'close'"
        ></mat-icon>
    </button>
</div>
}
