<!-- <div pDroppable (onDrop)="onDrop()" class="p-p-4 bg-green-50 border rounded">
    <p *ngIf="!droppedItems.length">Drop items here</p>
    <ul>
        @for (item of droppedItems; track item) {

        <li>
            {{ item }}
        </li>
        }
    </ul>
</div> -->

<div class="flex justify-center gap-2">
    <!-- ADD MEMBER -->
    <label
        for="my-drawer-4"
        class="button btn btn-sm btn-circle btn-primary mt-3"
    >
        <mat-icon
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add"
        ></mat-icon>
    </label>
</div>
